[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
Type=Application
# NoDisplay=true
# The icon could be a path or copy .png files to respective dirs in 
# ~/.local/share/icons/
Icon=aurora
Exec=/home/amel/firefox/firefox %u
Name=Firefox Developer Edition
GenericName=Web Browser
Comment=Custom definition for Firefox Developer Edition
StartupNotify=true
# Categories=Network;WebBrowser;
Categories=Applications;WebBrowser;
X-Desktop-File-Install-Version=0.21
